@import "./styles/colors";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width:100%;
  max-width: 1280px;
  margin:auto;
  background-color: white;
  color:$dark;
  min-height: 100dvh;
}

p {
  color: $dark;
}

a {
    color: $primary;
    text-decoration: none;
  }

/* UTILITY CLASSES */
.filled {
  width: fit-content;
  padding:.5rem 1rem;
  border-radius: 5px;
}

.filled-light {
  @extend .filled;
  background-color: $pale-blue;
}

.filled-secondary {
  @extend .filled;
  background-color: $secondary-light;
}