@import "../../styles/colors";

.LarpCard {
    min-width: 250px;
    width: 75%;
    height:100%;
    border: solid 1px black;

    & .LarpCard-header {
        height: 150px;
        border-radius: 5px  5px 0 0;
    }

    & .LarpCard-content {
        padding: .5rem .75rem;
        background-color: white;
        color: $dark;
        border-radius: 0 0 5px 5px;
        flex-basis: 1;
        flex-grow: 1;

        .title {
            margin-bottom: 5px;
        }

        & * {
            padding-top: 2px;
        }
    }

    & .LarpCard-details {
        margin: 1rem 0;
    }
}

.LarpCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
}

@media (min-width:600px) {
    .LarpCard {
        width: 42%;
    }
}

@media (min-width:900px) {
    .LarpCard {
        width: 33.4%;
    }
}