@import "../styles/colors";

.EventCard {
    width:325px;
    padding: 1rem;
    // border: 1px $pale-blue solid;
    margin:0;

    .image {
        width:100%;
        height: 150px;
        border-radius: 5px 5px 75px 0px;
        position:relative;

        .DateContainer {
            position:absolute;
            right:1rem;
            top:1rem;
        }
    }
}