@import "../styles/colors";

.EventCard {
    width:325px;

    .EventCard-header {
        background-color: $dark ;
        color: white;
        padding:.5rem 1rem;
    }

    & > div {
        padding:.5rem 1rem;
    }
}

@media(min-width:600px){
    .EventCard {
        width:550px;
    }
}
@media(min-width:900px){
    .EventCard {
        width:800px;
    }
}