$pale-blue: #f5f2ef;
$dark: #070707;
$secondary: #0e392f;//#A0C732;
$secondary-light: mix( #0e392f, white, 20%);
$secondary-dark: #4b7a00;
$primary: #3e0f23;


// #000000
// #3e0f23
// #16030b
// #0e392f
// #743c55
// #669966